nav {
  height: 15vh;
  margin-top: -0.6vh;
}

body {
  height: min-content;
}

#resume {
  color: var(--background-alt);
}

.middle-container {
  width: 60%;
  margin: auto;
  height: auto;
}

.title {
  margin: 2rem 0 0rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5rem;
}

.aboutme {
  width: 100%;
  margin-bottom: 0rem;
  padding: 1rem;
}

.me {
  margin-top: 1rem;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: rgba(230, 230, 230, 0.8);
  border-top-style: solid;
  border-width: 1px;
}

.me h2 {
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5rem;
}

.me p {
  text-align: center;
  margin: 2.5rem 0 0 0;
  word-wrap: break-word;
}

.infos {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.info-column {
  padding-right: 1rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.photo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(12.5rem + 8px);
  height: calc(12.5rem + 8px);
  margin: 0 auto 2rem;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-style: dashed;
  background-clip: content-box;
  animation: spin 35s linear infinite;
  background: var(--background);
}

.photo {
  position: absolute;
  color: var(--foreground);
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-wrapper:active .circle {
  animation: spin 35s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.education-experience {
  border-color: rgba(230, 230, 230, 0.8);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-top-style: solid;
  border-width: 1px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.education,
.experience {
  width: calc(50% - 8rem);
  padding: 0 4rem 0 4rem;
}

.education h2,
.experience h2 {
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5rem;
}

@media only screen and (min-width: 427px) {
  .middle-container {
    width: 96%;
  }
  .education,
  .experience {
    width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .education,
  .experience {
    width: calc(50% - 2rem);
    padding: 0 1rem 0 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .education,
  .experience {
    width: calc(50% - 4rem);
    padding: 0 2rem 0 2rem;
  }
}

@media only screen and (min-width: 1400px) {
  .middle-container {
    width: 60%;
  }
  .education,
  .experience {
    width: calc(50% - 8rem);
    padding: 0 4rem 0 4rem;
  }
}

@media only screen and (max-width: 850px) {
  .middle-container {
    width: 96%;
  }
  .education,
  .experience {
    width: 100%;
  }
}
