:root {
  --background: #0d0d0d;
  --background-lighter: #0f0f0f;
  --background-alt: #b3b3b3;
  --foreground: #e6e6e6;
  --border: #bfbfbf;
  --border-lighter: #999999;
  --transparent: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  background: var(--background);
  border: 10px solid var(--background);
  background-clip: padding-box;
  width: 26px;
}

*::-webkit-scrollbar-thumb {
  color: var(--border);
  box-shadow: inset 0 0 0 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  --x: 0px;
  --y: 0px;
  --dot-bg: var(--background);
  --dot-color: var(--background-alt);
  --dot-size: 0.08rem;
  --dot-space: 1.8rem;
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 100%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 100%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  background-position: var(--x) var(--y);
  transition:
    var(--x) 1s ease-in-out,
    var(--y) 1s ease-in-out;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

a:hover {
  color: var(--background-alt);
}

a:active {
  color: var(--background-alt);
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 70vh;
}

.nav-container {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

nav {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  height: 15vh;
  padding: 2vh 0vw 2vh 0vw;
  width: 100vw;
}

.nav-container-left a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.logo {
  margin-left: 0;
  height: 3rem;
  margin-top: 0;
  text-align: left;
}

.nav-container-right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  margin-right: 1rem;
}

.nav-container-right a {
  font-weight: 500;
  color: inherit;
}

.underline-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: var(--transparent);
  color: var(--foreground);
}

.underline-buttom:hover {
  border-color: var(--border);
  color: var(--border);
}

.underline-buttom:active {
  border-color: var(--border-lighter);
  color: var(--border-lighter);
}

.selected-underline-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: var(--foreground);
  color: var(--foreground);
}

.selected-underline-buttom:hover {
  border-color: var(--border);
  color: var(--border);
}

.uselected-nderline-buttom:active {
  border-color: var(--border-lighter);
  color: var(--border-lighter);
}

footer {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  height: 15vh;
  padding: 2vh 0vw 2vh 0vw;
  width: 100vw;
}

.footer-container {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
  width: 50vw;
}

.socials {
  width: 100%;
  height: 6vh;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.copyright {
  color: var(--background-alt);
  width: 100%;
  height: 6vh;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.copyright a {
  color: var(--background-alt);
  margin: 0 0.1rem 0 0.1rem;
}

@media only screen and (max-height: 430px) {
  html,
  body {
    height: min-content;
  }
  .middle-container {
    height: min-content;
  }
}

@media only screen and (max-width: 430px) {
  html,
  body {
    font-size: 10px;
  }
  .nav-container {
    width: 100vw;
  }
}

@media only screen and (min-width: 430px) {
  html,
  body {
    font-size: 12px;
  }
  .nav-container {
    width: 100vw;
  }
}

@media only screen and (min-width: 600px) {
  html,
  body {
    font-size: 15px;
  }
  .nav-container {
    width: 100vw;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 20px;
  }
  .nav-container {
    width: 80vw;
  }
}

@media only screen and (min-width: 1200px) {
  html,
  body {
    font-size: 22px;
  }
}

@media only screen and (min-width: 2560px) {
  html,
  body {
    font-size: 36px;
  }
}
